body{
    background: rgb(108, 108, 255);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
    text-shadow: 5px 5px 12px rgba(0, 0, 0, 0.65);

}

section{
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    margin: auto; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.65);
}

footer{
    color: white;
    text-align: center;
}

div{
    text-align: center;
    padding: 8px;
}